@font-face {
  font-family: "futura-bold";
  src: url("./fonts/futura_bold/LTe50154.eot");
  src: url("./fonts/futura_bold/LTe50154.eot") format("embedded-opentype"), url("./fonts/futura_bold/LTe50154.woff2") format("woff2"), url("./fonts/futura_bold/LTe50154.woff") format("woff"), url("./fonts/futura_bold/LTe50154.ttf") format("truetype"), url("./fonts/futura_bold/LTe50154.svg#LTe50154") format("svg");
}
@font-face {
  font-family: "futura-book";
  src: url("./fonts/futura_book/LTe50152.eot");
  src: url("./fonts/futura_book/LTe50152.eot") format("embedded-opentype"), url("./fonts/futura_book/LTe50152.woff2") format("woff2"), url("./fonts/futura_book/LTe50152.woff") format("woff"), url("./fonts/futura_book/LTe50152.ttf") format("truetype"), url("./fonts/futura_book/LTe50152.svg#LTe50152") format("svg");
}


$futura-bold: 'futura-bold';
$futura-book: 'futura-book';
$myriad-pro: Myriad Pro;
$helvetica: Helvetica;

@import 'bootstrap';
@import "ember-power-select";
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

//tools
@import 'tools/attention.scss';

// components
@import 'components/titles.scss';
@import 'components/panel.scss';
@import 'components/no_data.scss';
@import 'components/nav.scss';

.fa-80x {
  font-size: 80px;
}


.feeder-level {
  padding: 5px 15px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}

.feeder-level--low {
  background: #d9534f;
}

.feeder-level--medium {
  background: #f0ad4e;
}

.feeder-level--height {
  background: #5cb85c;
}

a {
  cursor: pointer;
}

.actions-inline {
  display: flex;
  justify-content: center;
  align-items: center;

  a.reload {
    margin-right: 10px;
  }
}

table.table-middle > tbody > tr > td {
     vertical-align: middle;
}

body {
  font-family: $futura-book !important;
}

.feeder_alert {
  background: #EA6844;
  padding: 11px;
  position: absolute;
  right: 15px;
  top: 0;
  border-radius: 3px;
  animation: colorChange 1s infinite;
}

@keyframes colorChange {
  0%   {background: #EA6844;}
  50%   {background:#FB9D1B;}
  100%   {background: #EA6844;}
}

.pie-chart-title {
  font-family: $futura_book;
  font-size: 15px;
  text-align: center;
}

.pie-chart-info {
  font-family: $futura_bold;
  font-size: 30px;
  text-align: center;
}

.dropdown-menu {
  li {
    a {
      color: #333333 !important;
    }
  }
}
