<div class="col-lg-12">
  <div class="row">
    <div class="no-data">
      <div class="no-data__header">
        {{fa-icon "database" size=80}}
        <h5>Não encontramos nenhum registro <br /> no banco de dados.</h5>
      </div>
      {{#if hasBlock}}
        <div class="no-data__content">
          {{yield}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
