<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Peixe {{model.id}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Nome</label> {{model.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
